<li>
	{{burger}}

	{{#if devoured}}
	<button class="order-another" data-id="{{id}}">
		ORDER ANOTHER ONE!
	</button>
	{{else}}
	<button class="devour" data-id="{{id}}">
		DEVOUR TIME!
	</button>

	<button class="delete-burger" data-id="{{id}}">
		TRASH CAN
	</button>

	<div class="rating">
		<span data-rating="5" class="fa fa-star"></span>
		<span data-rating="4" class="fa fa-star"></span>
		<span data-rating="3" class="fa fa-star"></span>
		<span data-rating="2" class="fa fa-star"></span>
		<span data-rating="1" class="fa fa-star"></span>
		<span class="rating-title">Rating</span>
	</div>
	{{/if}}

</li>